body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
span {
 color: midnightblue;
}
.tile-image{
  height: 200px;
  float: left;
  margin-right: 50px;
}
.card{
  width: 45%;
  
}
.right{
  float: right;
}
.left{
  float: left;
}
@media(max-width:680px){
  .logo{
    width: 100px;
  }
  h1{
    text-align: center;
    font-size: 3rem;
    
  }
  .card{
    width: 100%;
    display: block;
    text-align: justify;
    margin-bottom: 30px;
  }
  
  
  .tile-image{
    width: 100%;
    object-fit: cover;
    display: inline;
    margin-bottom: 10px;
  }
}

